<!doctype html>
<html>
  <head>
  	
    <title>Archive - Virus Defense</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> <!-- must be before include -->
    <script src="../javascripts/respond.js"></script> <!-- position may change, but can't be in head.html -->
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <!-- include files -->
    <script type="text/javascript" src="../jquery-1.4.2.js"></script>
		<script> 
		$(function(){
			$("#head").load("../head.html");
			$("#header").load("../header.html"); <!-- could also be located in head.html -->
			$("#footer").load("../footer.html");
		});
	</script>
	
	<div id="head"></div>
	
    <div id="header"></div>
	
</head>
  <body>
    <div class="wrapper">

      <section>
        

<div id="footer"></div>
  </body>
</html>